<div class="header bg-white border-bottom box-shadow">
    <div class="header-left">
        <a href="/" class="logo">Lunch Friends</a>
    </div>
    <ul class="header-right">
        {{#if user}}
        <li>
            <a class="header-btn header-login-btn" href="/logout">ログアウト</a>
        </li>
        {{else}}
        <li>
            <button type="button" class="header-btn header-login-btn" data-toggle="modal" data-target="#loginModal">ログイン</button>
        </li>
        {{/if}}
        <!-- Button trigger modal -->
        <li>
            <a class="header-btn header-twitter" href="https://twitter.com/@ingtaTsuya_0801" target="_blank">Twitterフォロー</a>
        </li>

        <li>
            <a class="header-btn header-twitter-icon" href="https://twitter.com/@ingtaTsuya_0801" target="_blank"><i class="fab fa-twitter"></i></a>
        </li>
    </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="exampleModalLongTitle">SNSからログイン</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="/auth/google" class="google-auth login-api-btn">
                    <i class="fab fa-google icon"></i> Googleでログイン
                </a>
                <a href="/auth/facebook" class="facebook-auth login-api-btn">
                    <i class="fab fa-facebook-f icon"></i> Facebookでログイン
                </a>
                <a href="/auth/twitter" class="twitter-auth login-api-btn">
                    <i class="fab fa-twitter icon"></i> Twitterでログイン
                </a>
                {{#if Flag_Signin}}
                <script>loginModal()</script>
                <div class="alert alert-danger" role="alert">{{err}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" id="exampleModalLongTitle">Create Your LunchFriend Account!</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#if Flag_Signup}}
                <script>signupModal()</script>
                <div class="alert alert-danger" role="alert">{{err}}</div>
                {{/if}}
                <a href="/auth/google" class="google-auth login-api-btn">
                    <i class="fab fa-google icon"></i> Googleで登録
                </a>
                <a href="/auth/facebook" class="facebook-auth login-api-btn">
                    <i class="fab fa-facebook-f icon"></i> Facebookで登録
                </a>
                <a href="/auth/twitter" class="twitter-auth login-api-btn">
                    <i class="fab fa-twitter icon"></i> Twitterで登録
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-primary" role="alert">
                    登録が完了しました
                </div>
            </div>
        </div>
    </div>
</div>
{{#if Flag_finish}}
<script>finishModal()</script>
{{/if}}