<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Lunch Friends | {{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<header>
    <div class="container">
        <img src="/image/logo.png" />
        <ul class="header-right">
            <li><a href="#">SignUp</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">LunchFriendsについて</a></li>
            <li><a href="https://twitter.com/@ingtaTsuya_0801" target="_blank">Twitterフォロー</a></li>
        </ul>
    </div>
</header>