<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Lunch Friends | {{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="logo">Lunch Friends</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">ランチに誘う</a>
        <a class="p-2 text-dark" href="#">ヘルプ</a>
        <a class="p-2 text-dark" href="#">ログイン</a>
        <a class="p-2 text-dark" href="https://twitter.com/@ingtaTsuya_0801" target="_blank">Twitterフォロー</a>

    </nav>
    <a class="btn btn-sm btn-outline-secondary" href="#">無料会員登録</a>
</div>