{{> _head}}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Business Lunch を楽しもう</h1>
            <p class="lead text-muted">いろんな人と話したい人、お昼代を節約したい人、美味しいお店を見つけたい人、お昼の時間を自由に<br>毎日のランチにワクワクを</p>
            <p>
                <a href="/collect" class="btn c-round-btn c-round-btn--blue">ランチに誘う</a>
                <a href="/find" class="btn c-round-btn c-round-btn--red">ランチ仲間を探す</a>
            </p>
        </div>
    </section>
</main>



{{> _footer}}