{{> _head}}

<div class="main">
    <div class="container">

        <div class="section-title">
            <h1>lunch friend</h1>
            <h1>lunch {{user}}</h1>
        </div>
        <div class="centered-form__form">
            <form action="/feed" method="post">
                <div class="form-field">
                    <select class="select-location" name="location">
                        <option value="roppongi">六本木</option>
                        <option value="asakusa">浅草</option>
                    </select>
                </div>
                <div class="button-block">
                    <button class="join-button">Join</button>
                </div>
            </form>
        </div>
    </div>
</div>



{{> _footer}}