{{> _head}}
<div class="container">
    <div class="col-md-8 order-md-1 container-form">
        <h3 class="mb-3 section-title">ログイン</h3>
        <form class="form" novalidate="" action="/login" method="post">
            <div class="row">

                <div class="col-md-6 mb-3">
                    <label for="store">ユーザーネーム</label>
                    <input type="text" name="username" class="form-control" placeholder="" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="link">パスワード</label>
                    <input type="password" name="password" class="form-control"  placeholder="" required>
                </div>
            </div>
            <button class="btn btn-primary btn-lg form-submit" type="submit">ログイン</button>
        </form>
        {{message}}
    </div>
</div>
{{> _footer}}