
.search-form {
  margin: 0 auto;
}

.search-form-block {
  padding-bottom: 30px;
}

.search-header-block {
  display: block;
  margin-top: 15px;
  height: 40px;
  border-top: 1px solid #e5e5e5;
}

.search-header {
  text-align: center;
}

.search-header a {
  padding: 10px 14px!important;
}

.container-form {
  margin: 0 auto;
  padding: 30px 0;
  background-color: rgba(255,166,28,0.7);
  border-radius: 28px;
  box-shadow: 0 0 8px rgba(0,0,0,0.6);
}



.feed-box {
  margin: 0 auto;
  margin-bottom: 20px;
}

.feed-inner-box {
  color: #6c757d;
}

.feed-head {
  width: 100%;
  height: 200px;
  padding-top: 7px;
  text-align: center;
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 50% 50%;
}

.feed-label {
  font-size: 12px;
}

.profile-image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.post-minute {
  position: absolute;
  top: 5px;
  right: 30px;
  color: #fff!important;
}

.profile-block {
  width: 100%;
}
.collect-feed-center-container {
  .profile-name-block {
    display: inline-block;
    text-align: center;
    width: 50%;
    p {
      font-size: 28px;
      font-weight: 600;
      margin: 0;
    }
    .feed-profile {
      display: inline-block;
      padding-top: 6px;
    }

    .feed-profile2 {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .profile-inner-block {
    display: inline-block;
    margin: 15px 0 0 15px;
    border: 5px solid lightgray;
    border-radius: 50%;
    max-height: 140px;
    max-width: 140px;
    height: 35%;
    width: 35%;

  }
}


.feed-right {
  text-align: left;
  width: 100%;
  h5 {
    border-bottom: 1px solid #6c757d;
    max-width: 180px;
    margin-right: 0;
  }
  .inner-feed-right {
    padding-top: 15px;
    width: 80%;
  }
}

.feed-body {
  height: 180px;
  h5 {
    padding-left: 30px;
  }
  p {
    padding-left: 35px;

  }
}

.feed-btn {
  height: 40px;
  line-height: 40px;
  box-shadow: 0px 1px #6c757d;
  margin: 0 auto;
  margin-bottom: 18px;
  min-width: 200px;
  color: #fff!important;
  width: 30%;
  border-radius: 16px;
}