.bbb{
  background-color: #7994a7;
}

.home-container {
  height: 100vh;
}

.home-contents {
  height: 100%;
  padding-top: 8rem!important;
  margin: 0!important;
}

.sign-up-btn {
  background: rgba(255,164,23,0.9)!important;
}

.btn-container {
  height: 98px;
  margin-top: 64px;
  text-align: center;
}