

//phone size
@media (max-width: 770px) {

  .login-api-btn {
    font-size: 15px!important;
    display: block;
    text-align: center!important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-weight: 500 !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    margin-bottom: 6px;
    i {
      margin-right: 4px;
    }
  }


  .feed-body {
    padding: 0!important;
    h5 {
      padding-left: 15px!important;
    }
    p {
      padding-left: 20px!important;
    }
  }

  .profile-inner-block {
    margin: auto;
    grid-column: 1 / 2;
    border: 5px solid lightgray;
    border-radius: 50%;
    height: 110px;
    width: 110px;
  }

  .modal-dialog {
    width: auto!important;
    margin: 48px .5rem .5rem .5rem!important;
  }





  .home-title {
    font-size: 30px !important;
  }

  .home-sub-title {
    font-size: 14px!important;
  }

.home-btn {
  width: 280px!important;
}
}

@media (max-width: 425px) {

  .header-right {
    margin-right: 0!important;
    padding-left: 0!important;
    .dropdown {
      top: 20px!important;
      right: 0!important;
    }
  }

  .header-twitter-icon{
    display: block!important;
    background-color: rgba(0,0,0,0) !important;
  }

  .header-twitter {
    display: none!important;
  }
  .home-btn {
    width: 100%!important;
    height: 30%!important;
    margin-top: 20px!important;
    line-height: 5px!important;
    font-size: 24px!important;
  }
}