.bbb {
  background-color: #7994a7;
}

.modal-login {
  width: 380px !important;
  padding: 25px;
  margin: 0 auto;
}

.modal-login .modal-content .modal-body a.google-auth {
  color: #444444;
  font-size: 1em;
  display: block;
  height: 45px;
  padding-top: 8px;
  padding-left: 5px;
  padding-bottom: 8px;
  background-color: #fff;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(41, 48, 59, 0.24), 0 0 2px 0 rgba(41, 48, 59, 0.12);
  border: 1px solid #dedfe0;
}

.modal-login .modal-content .modal-body a.google-auth img {
  width: 30px;
  margin-right: 5px;
  margin-bottom: 2px;
  object-fit: contain;
}

.modal-login .modal-content .modal-body input {
  padding-left: 30px;
  padding-top: 8px;
  height: 45px;
}

.modal-login .modal-content .modal-body i.errspan {
  float: left;
  margin-left: 8px;
  margin-top: -38px;
  position: relative;
  z-index: 2;
  color: #dedfe0;
}

.modal-login .modal-content .modal-body button {
  height: 45px;
}

.modal-login .modal-content .modal-body a {
  font-size: 100%;
}

.modal-login .modal-content .modal-footer {
  margin: 0 auto;
}

.feed-box {
  margin: 0 auto;
}

.feed-inner-box {
  color: #6c757d;
}

.feed-head {
  width: 100%;
  height: 200px;
  padding-top: 7px;
  text-align: center;
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 50% 50%;
}

.feed-label {
  font-size: 12px;
}

.profile-image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.post-minute {
  width: 100%;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
}

.profile-block {
  width: 100%;
}

.profile-inner-block {
  margin: auto;
  grid-column: 1 / 2;
  border: 5px solid lightgray;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.profile-inner-block p {
  line-height: 24px;
  margin: 0;
}

.profile-inner-block .feed-profile {
  padding-top: 6px;
}

.feed-right {
  text-align: left;
  width: 100%;
}

.feed-right h5 {
  border-bottom: 1px solid #6c757d;
  max-width: 180px;
  margin-right: 0;
}

.feed-right .inner-feed-right {
  padding-top: 15px;
  width: 80%;
}

.feed-body {
  height: 180px;
}

.feed-body h5 {
  padding-left: 30px;
}

.feed-body p {
  padding-left: 35px;
}

.feed-btn {
  height: 40px;
  line-height: 40px;
  box-shadow: 0px 1px #6c757d;
  margin: 0 auto;
  margin-bottom: 18px;
  min-width: 200px;
  color: #fff !important;
  width: 30%;
  border-radius: 16px;
}

a {
  text-decoration: none !important;
}

label {
  margin-bottom: -3px !important;
}

.clear {
  clear: both;
}

.form-submit {
  float: right;
}

.search-form {
  margin: 0 auto;
}

.search-form-block {
  padding-bottom: 30px;
}

.search-header-block {
  display: block;
  margin-top: 15px;
  height: 40px;
  border-top: 1px solid #e5e5e5;
}

.search-header {
  text-align: center;
}

.search-header a {
  padding: 10px 14px !important;
}

.container-form {
  margin: 0 auto;
  padding: 30px 0;
  background-color: rgba(255, 166, 28, 0.7);
  border-radius: 28px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.section-title {
  text-align: center;
}

.w-40 {
  width: 40% !important;
}

.d-inline-block {
  display: inline-block;
}

.form-textarea {
  margin-top: 10px;
}

.logo {
  color: #343a40;
}

.logo:hover {
  color: #343a40;
}

.home-btn {
  width: 30%;
  height: 70px;
  line-height: 55px !important;
}

.c-round-btn--orange {
  background-color: rgba(255, 166, 28, 0.8);
}

.c-round-btn--blue {
  background-color: rgba(124, 185, 252, 0.8);
}

.c-round-btn--red {
  background-color: rgba(255, 137, 54, 0.8);
}

.c-round-btn--red:hover {
  background-color: #ff8936;
  color: white;
}

.c-round-btn--red:active {
  box-shadow: none;
}

.c-round-btn--blue:hover {
  background-color: #7cb9fc;
  color: white;
}

.c-round-btn {
  height: 54px;
  line-height: 54px;
  font-size: 14px;
  border-radius: 34px;
  width: 160px;
  box-shadow: 0 0 15px 1px rgba(133, 140, 142, 0.3);
}

.c-btn, .c-border-btn, .c-round-btn {
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  font-size: 0.8125rem;
  text-align: center;
  min-width: 140px;
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

user agent stylesheet
div {
  display: block;
}

.landing__top {
  max-width: 1850px;
  margin: 0 auto;
  color: #183c61;
}

.landing {
  background-color: #f4fafa;
  color: #6b7c93;
  letter-spacing: .07em;
  line-height: 1.71429;
}

body {
  color: #7994a7;
  font-family: "AvenirNext-Regular", "Lato", "Hirago KakuGothic ProN", sans-serif;
}

body {
  font-size: 0.875rem;
}

html {
  font: 100%/1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  color: #5876a3;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.71429;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  color: #16325c;
  background: #8be0e6;
}
