@import "home";
@import "apply";
@import "header";
@import "feed";
@import "error";
@import "chat";
@import "responsive";
@import "user";

body {
  color: #7994a7;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', "ヒラギノ角ゴシック", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3',Roboto, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 0.875rem;
}

html {
  font: 100%/1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  color: #5876a3;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.71429;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  color: #16325c;
  background: #8be0e6;
}

main {
  padding-top: 70px;
}

a {
  text-decoration: none!important;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}


label {
  margin-bottom: -3px!important;
}

.clear {
  clear: both;
}

.form-submit {
  color: #ffffff;
  display: block!important;
  margin: 0 auto;
  background-color: rgba(0, 123, 255, 1)!important;
  &:hover {
    background-color: rgba(0, 123, 255, 0.8)!important;
  }
}

.section-title {
  text-align: center;
}

.w-40 {
  width: 40%!important;
}

.d-inline-block {
  display: inline-block;
}

.form-textarea {
  margin-top: 10px;
}

.logo {
  color: #343a40;
  &:hover {
    color: #343a40;
  }
}

.c-round-btn--orange {
  background-color: rgba(255,166,28,0.8);
}

.c-round-btn--blue {
  background-color: rgba(124, 185, 252,0.8);
}


.c-round-btn--red {
  background-color: rgba(255, 137, 54, 0.8);
  &:hover {
    background-color: rgba(255, 137, 54, 1);
    color: white;
  }
  &:active {
    box-shadow: none;
  }
}


.c-round-btn--blue:hover {
  background-color: rgba(124, 185, 252,1);
  color: white;
}


.c-round-btn {
  height: 54px;
  line-height: 54px;
  font-size: 14px;
  border-radius: 34px;
  width: 160px;
  box-shadow: 0 0 15px 1px rgba(133,140,142,0.3);
}
.c-btn, .c-border-btn, .c-round-btn {
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  font-size: 0.8125rem;
  text-align: center;
  min-width: 140px;
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
div {
  display: block;
}
.landing__top {
  max-width: 1850px;
  margin: 0 auto;
  color: #183c61;
}
.landing {
  background-color: #f4fafa;
  color: #6b7c93;
  letter-spacing: .07em;
  line-height: 1.71429;
}

.container-box {
  padding: 30px 0;
}
